@charset "UTF-8"


body, html {
    background-color: lightgrey;
}

header {
    background-color: rgb(213, 206, 206);
}

header > h1 {
    padding: 10px;
    text-align: center;
}

i#burguer {
    background-color: rgb(56, 56, 56);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#burguer:hover  {
    background-color: white;
    color: black;

}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: gray;
    color: rgb(228, 219, 219);
    border-top: 2px solid rgb(187, 187, 187);
}

menu > ul > li > a:hover {
    background-color: rgb(167, 166, 166);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}